<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Read me file </title>
</head>
<body>
<h1> Explanations of how the API works</h1>
<br>
    First you need to login to the system.</br>
    Without log in the system you can use the read message and the add message function.</br>
    To login the system send to the URL /login message with username and password .</br>
    After login you can use also the delete, get message and get all unread messages.</br>
    I add all the requests examples to the mail.</br>

</p>
<br>
    For the admin Django site . add /admin to the url path of this site .</br>
    Django Admin user : admin</br>
    password: lbh123</br>

    Another user to test the system :</br>
    username: shy</br>
    password: testing138</br>

</p>
</body>
</html>